.pagination {
  display: flex;
  align-items: center;
  margin-top: 40px;
  justify-content: center;
  &__btn {
    width: 28px;
    height: 28px;
    color: var(--brand-color)
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__link {
    display: block;
    padding: 2px 6px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: var(--text-color-3);
    background: transparent;

    &._active {
      color: var(--text-color-invert);
      background: var(--brand-color);
    }

  }
}
