.main {
  padding-top: 41px;
  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  &__questions {
    flex-grow: 1;
  }

  &__filters {
    min-width: 392px;
    width: 392px;
    height: auto;
  }
}