.filter {
  padding-right: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;

    color: var(--text-color-3);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    li {
      display: flex;
      align-items: center;
      gap: 6px;
      height: 42px;
      padding: 0 12px;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      border-radius: 12px;
      border: 1px solid var(--border-color);
      cursor: pointer;

      &._active {
        border-color: var(--brand-color)
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }
}