.header {
  background: var(--bg-color-accent);


  &__inner {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 0;
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    a:hover {
      color: var(--brand-color)
    }
  }
  &__btns {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto
  }
}