.main {
  &__inner {
    padding-top: 41px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 392px;
    align-items: flex-start;
    gap: 20px;

    @media (max-width: 1440px) {
      grid-template-columns: minmax(0, 1fr) 328px;
    }

    @media (max-width: 768px){
      display: block;
    }
  }

  &__open-btn {
    display: none;
    width: auto;

    svg {display: block}

    @media (max-width:768px) {
      position: absolute;
      right: 46px;
      top: 57px;
      display: block;
      padding: 6px;
      border: 1px solid var(--border-color);
      border-radius: 8px;
    }

    @media (max-width: 375px) {
      right: 25px;
    }
  }

  &__questions {
    max-width: 100%;

    &._disabled {
      pointer-events: none;
    }
  }

  &__filters {
    height: auto;

    @media (max-width: 1440px) {
      width: 328px;
      min-width: auto;
    }

    @media(max-width: 768px) {
      position: absolute;
      top: 0;
      right: -100%;
      height: 955px;
      overflow: scroll;

      &._open {
        right: 0;
      }
    }

    @media (max-width: 735px) {
      width: 100%;
    }
  }
}