.search {
  position: relative;

  &__input {
    padding: 13.5px 24px 13.5px 52px ;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    vertical-align: middle;
    height: 48px;
    width: 100%;
    border: 1px solid var(--border-color-2);
    border-radius: 68px;

    &::placeholder {
      color: var(--text-color-5);
    }

    &:focus-visible {
      outline-color: var(--text-color-3)
    }
  }

  svg {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
  }
}